<div class="container">
	{{breadcrumbs}}
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 results">
      <h1>{{t 'results' query=query count=results_count}}</h1>
      {{#if article_results}}
        <div class="article-list">
          {{#each article_results}}
            <article class="article-list-item mb-4">
              <h3 class="article-list-item-title"><a href="{{url}}">{{title}}</a></h3>
              {{#if vote_sum}}
                <span class="search-result-votes">{{vote_sum}}</span>
              {{/if}}
              <p class="article-list-item-excerpt">{{text}}</p>
              <div class="">
                {{meta}}
              </div>              
            </article>
          {{/each}}
      {{else}}
        <p>
          {{t 'no_results' query=query}}
          {{#link 'help_center'}}
            {{t 'browse_knowledge_base'}}
          {{/link}}
        </p>
      {{/if}}
    </div>
  </div>

  {{pagination}}
</div>